<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="LoginPage">

	<!-- listeners>
		<listener
			class-name="com.neudesic.utilities.CustomListeners"></listener>
	</listeners> -->
  <test thread-count="5" name="Test">
  <classes>
  	<class name="com.neudesic.main.TestNGTest"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
